.banner-main {
    text-align: center;
    background-color: #0C6995;
    color: #fff;
    width: 100%;
    padding: 15px 0 20px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('StateTemplate/images/background-primary.jpg');
    background-size: cover;
}
.home-logo {
    border: 2px solid #fff;
    padding: 5px 9px 5px 9px;
}