
@{
    ViewBag.Title = "serp";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<style>
    #nav-item-search, .mobile-controls .toggle-search {
        display: none;
    }

    .mobile-controls .mobile-header-icons {
        display: none;
    }

    #head-search .container {
        display: none !important;
    }


    .gs-visibleUrl {
        color: #185b00 !important;
    }
</style>

<!--Search result section-->
<div class="section-default p-b-lg">
    <div class="container search-results-header">
        <div class="row p-t-lg">
            <div class="col-11">
                <form id="SearchForm" class="pos-rel" action="@Url.Action("serp", "Home")">
                    <label class="sr-only" for="q">Custom Google Search</label>
                    <input type="text" id="query" name="q" placeholder="Search this Website" class="w-100 height-50 border-0 p-x-sm" />
                    <button type="submit" class="pos-abs gsc-search-button right-0 top-0 width-50 height-50 border-0"><span class="ca-gov-icon-search font-size-30" aria-hidden="true"></span><span class="sr-only">Submit</span></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <h1>Your Search Results:</h1>
        <gcse:searchresults-only></gcse:searchresults-only>
    </div>

</div>

<script>
        // extracting search query from the url parameter and applying it to the searchbox
        var query = "";
        jQuery.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : "";
        }
        var query = jQuery.urlParam('q');
        $('input[name=q]').val(query);
</script>


