
@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="section">
    <h1>State Template Structure</h1>
    <div class="section">
        <p>This section describes the high-level items that are included in the State Template package that will be provided to State agencies and departments through <a href="http://webstandards.ca.gov">WebStandards</a>.</p>
        <h2>Web Page Structure</h2>
        <p>
            The image below shows the basic structure of a State Template web page, consisting of various elements and building blocks.
            Several common structure components (such as page Utility Header, Settings Bar, Branding, Mobile Navigation Controls, Navigation, etc.) are included in _Layout shared page.
        </p>
        <img src="/images/structure.jpg" class="img-fluid" alt="State Template Structure" />


    </div>
</div>
