
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <div class="container">
        <div class="group">
            <div class="half">
                <article class="p-l-0">
                    <h1>State Template v5</h1>
                    <p>The California State Template is an open source web template and  standard offered by the California Department of Technology to state agencies and departments within the State of California and beyond. </p>
                    <p>As part of this release  GitHub is leveraged  to provide and encourage better collaboration. The California state template is open sourced and belongs to the California web community and participation is welcome. </p>


                    <p>
                        The v5 release there will be several versions available namely HTML/Dreamweaver, .NET (MVC and Web Forms), PHP and WordPress.
                    </p>
                    <p>This is a living document and changes to this template, the sample and instructional pages are made daily and can be tracked on the <a href="https://github.com/Office-of-Digital-Innovation/California-State-Template-v5-Beta" target="_blank">GitHub Repository</a>.</p>

                    <p><span class="label label-info">Note:</span> You will be able to download each version using the GitHub repository links. Look for the &quot;Clone or Download&quot; button on the respective GitHub page.</p>
                    <p>&nbsp;</p>

                </article>
            </div>
            <div class="half">
                <article class="p-t-md">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><span class="ca-gov-icon-download"></span> Available Downloads</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-standout">
                                <li>
                                    <a href="https://github.com/Office-of-Digital-Innovation/California-State-Template-v5-Beta" target="_blank"><strong>HTML/Dreamwever</strong></a><br>
                                    This is the standard HTML/Dreamweaver package with sample content
                                </li>
                                <li>
                                    <a href="https://github.com/Office-of-Digital-Innovation/California-State-Template-MVC-v5-Beta" target="_blank"><strong>.NET(MVC)</strong></a><br>
                                    This is the .NET MVC package that includes setup instructions
                                </li>
                                <li>
                                    <a href="https://github.com/Office-of-Digital-Innovation/California-State-Template-Web-Forms-Beta" target="_blank"><strong>.NET(Web Forms)</strong></a><br>
                                    This is the .NET Web Forms package  that includes setup instructions
                                </li>
                                <li>
                                    <strong><a href="https://github.com/Office-of-Digital-Innovation/California-State-Template-PHP-Beta" target="_blank">PHP</a></strong><br>
                                    This is the PHP package that includes setup instructions
                                </li>
                                <li>
                                    <strong><a href="http://caweb.ca.gov/" target="_blank">WordPress CMS</a></strong><br>
                                    Please contact
                                    <a href="mailto:Info.Eservices@state.ca.gov">Info.Eservices@state.ca.gov</a> for more information
                                </li>
                            </ul>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>

